
html, body {
	height: 100%;
	width: 100%;
	margin: 0;
	padding: 0;
}

/**
 * Alignement global
 * Permet de centrer verticalement
 */

body > .container {
	width: 800px;
}

.struct, .vcenter {
	display: inline-block;
	vertical-align: middle;
}
.struct { height: 100%; }

.map-panel {
	height: 100%;
	text-align: left;
	margin: 0 auto;
}

/**
 * Global
 */

dl dt { width: 100px !important; }
dl dd { margin-left: 120px !important; }

h1 {
	margin: 30px 0;
}

h2 {
	margin: 30px 0;
}

h3 {
	margin: 20px 0;
}

table th, table td {
	text-align: center;
	vertical-align: middle;
}

/**
 * MAP
 */

#map {
	display: inline-block;
}

#map table {
	border-collapse: collapse;
	margin: 0 20px 0 0;
}

#map table.btop { border-top: 3px solid black; }
#map table.bbottom { border-bottom: 3px solid black; }
#map table.bleft { border-left: 3px solid black; }
#map table.bright { border-right: 3px solid black; }

.box { 
	position: relative;
	width: 62px;
	height: 62px;
}

.grass { background: url("../img/textures.png") 0 -224px no-repeat; }
.mountain { background: url("../img/textures.png") -192px -32px no-repeat; }
.mountain2 { background: url("../img/textures.png") -64px -32px no-repeat; }

.sand { background: url("../img/textures.png") -192px -224px no-repeat; }
.desert { background: url("../img/textures.png") -256px -224px no-repeat; }
.desert2 { background: url("../img/textures.png") -64px -32px no-repeat; }

.entry {}
.out-grass { background: url("../img/textures.png") -128px -32px no-repeat; }
.out-sand { background: url("../img/textures.png") -320px -320px no-repeat; }

/**
 * OBJETS 
 */

.potion {
	position: relative;
	top: 2px;
	left: 16px;
	width: 34px;
	height: 34px;
	background: url("../img/characters/item.png") 0 -68px no-repeat;
}

.force {
	position: relative;
	top: 2px;
	left: 16px;
	width: 34px;
	height: 34px;
	background: url("../img/characters/item.png") 0 -170px no-repeat;
}

.defense {
	position: relative;
	top: 2px;
	left: 16px;
	width: 34px;
	height: 34px;
	background: url("../img/characters/item.png") -340px -408px no-repeat;
}

.sante {
	position: relative;
	top: 2px;
	left: 16px;
	width: 34px;
	height: 34px;
	background: url("../img/characters/item.png") -238px -748px no-repeat;
}

.vitesse {
	position: relative;
	top: 2px;
	left: 16px;
	width: 34px;
	height: 34px;
	background: url("../img/characters/item.png") -136px -476px no-repeat;
}

.chucknorris {
	position: relative;
	top: 2px;
	left: 16px;
	width: 34px;
	height: 34px;
	background: url("../img/characters/item.png") -170px -782px no-repeat;
}

.chucknorris {
	position: relative;
	top: 2px;
	left: 16px;
	width: 34px;
	height: 34px;
	background: url("../img/characters/item.png") -170px -782px no-repeat;
}

/**
 * Personnages
 */

/* mage01 : perso principale */

.mage01 {
	position: relative;
	top: 2px;
	left: 16px;
	width: 32px;
	height: 50px;
}
.mage01.down { background: url("../img/characters/mage01.png") 0 0 no-repeat; }
.mage01.up { background: url("../img/characters/mage01.png") 0 -144px no-repeat; }
.mage01.right { background: url("../img/characters/mage01.png") 0 -96px no-repeat; }
.mage01.left { background: url("../img/characters/mage01.png") 0 -48px no-repeat; }

/* mage02 : perso principale */

.mage02 {
	position: relative;
	top: 2px;
	left: 16px;
	width: 32px;
	height: 50px;
}
.mage02.down { background: url("../img/characters/mage02.png") 0 0 no-repeat; }
.mage02.up { background: url("../img/characters/mage02.png") 0 -144px no-repeat; }
.mage02.right { background: url("../img/characters/mage02.png") 0 -96px no-repeat; }
.mage02.left { background: url("../img/characters/mage02.png") 0 -48px no-repeat; }

/* mage03 : perso principale */

.mage03 {
	position: relative;
	top: 2px;
	left: 16px;
	width: 32px;
	height: 50px;
}
.mage03.down { background: url("../img/characters/mage03.png") 0 0 no-repeat; }
.mage03.up { background: url("../img/characters/mage03.png") 0 -144px no-repeat; }
.mage03.right { background: url("../img/characters/mage03.png") 0 -96px no-repeat; }
.mage03.left { background: url("../img/characters/mage03.png") 0 -48px no-repeat; }

/* mage04 : perso principale */

.mage04 {
	position: relative;
	top: 2px;
	left: 16px;
	width: 32px;
	height: 50px;
}
.mage04.down { background: url("../img/characters/mage04.png") 0 0 no-repeat; }
.mage04.up { background: url("../img/characters/mage04.png") 0 -144px no-repeat; }
.mage04.right { background: url("../img/characters/mage04.png") 0 -96px no-repeat; }
.mage04.left { background: url("../img/characters/mage04.png") 0 -48px no-repeat; }

/**
 * Monstres
 */

/* Rabivador */

.rabivador {
	position: relative;
	top: 2px;
	left: 17px;
	width: 32px;
	height: 32px;
}
.rabivador.down { background: url("../img/characters/rabivador.png") -32px 0 no-repeat; }
.rabivador.up { background: url("../img/characters/rabivador.png") -32px -96px no-repeat; }
.rabivador.right { background: url("../img/characters/rabivador.png") -32px -64px no-repeat; }
.rabivador.left { background: url("../img/characters/rabivador.png") -32px -32px no-repeat; }

/* Crazyfrog */

.crazyfrog {
	position: relative;
	top: 2px;
	left: 20px;
	width: 24px;
	height: 24px;
}
.crazyfrog.down { background: url("../img/characters/crazyfrog.png") -24px 0 no-repeat; }
.crazyfrog.up { background: url("../img/characters/crazyfrog.png") -24px -72px no-repeat; }
.crazyfrog.right { background: url("../img/characters/crazyfrog.png") -24px -48px no-repeat; }
.crazyfrog.left { background: url("../img/characters/crazyfrog.png") -24px -24px no-repeat; }

/* Kevindiesel */

.kevindiesel {
	position: relative;
	top: 2px;
	left: 16px;
	width: 32px;
	height: 50px;
}
.kevindiesel.down { background: url("../img/characters/kevindiesel.png") 0 0 no-repeat; }
.kevindiesel.up { background: url("../img/characters/kevindiesel.png") 0 -144px no-repeat; }
.kevindiesel.right { background: url("../img/characters/kevindiesel.png") 0 -96px no-repeat; }
.kevindiesel.left { background: url("../img/characters/kevindiesel.png") 0 -48px no-repeat; }

/* Thomagneto */

.thomagneto {
	position: relative;
	top: 2px;
	left: 16px;
	width: 32px;
	height: 50px;
}
.thomagneto.down { background: url("../img/characters/thomagneto.png") 0 0 no-repeat; }
.thomagneto.up { background: url("../img/characters/thomagneto.png") 0 -144px no-repeat; }
.thomagneto.right { background: url("../img/characters/thomagneto.png") 0 -96px no-repeat; }
.thomagneto.left { background: url("../img/characters/thomagneto.png") 0 -48px no-repeat; }

/* Floracle */

.floracle {
	position: relative;
	top: 2px;
	left: 16px;
	width: 32px;
	height: 50px;
}
.floracle.down { background: url("../img/characters/floracle.png") 0 0 no-repeat; }
.floracle.up { background: url("../img/characters/floracle.png") 0 -144px no-repeat; }
.floracle.right { background: url("../img/characters/floracle.png") 0 -96px no-repeat; }
.floracle.left { background: url("../img/characters/floracle.png") 0 -48px no-repeat; }

/**
 * Commandes
 */

#commands {
	width: 350px;
}

#directions-btn {
	width: 180px;
	margin: 20px auto;
	font-size: 2em;
}

#directions-btn div {
	text-align: center;
	vertical-align: middle;
}

#directions-btn a {
	display: block;
}

.progress-bar { text-align: left; padding: 0 0 0 10px; }

/**
 * Fight
 */

#battle-zone {
	padding: 10px;
	width: 450px;
}

.versus {
	display: block;
	margin: 0 auto;
	margin-bottom: 40px;
}

#battle-log {
	width: 300px;
}

#battle-log .infos {
	margin: 20px 10px;
}

#battle-log .infos b {
	color: red;
}

/* FACE */

.face-mage01 {
	width: 96px;
	height: 96px;
}
.face-mage01.default { background: url("../img/faces/mage01.png") 0 0 no-repeat; }
.face-mage01.winning { background: url("../img/faces/mage01.png") 0 -96px no-repeat; }
.face-mage01.loosing { background: url("../img/faces/mage01.png") -288px -96px no-repeat; }
.face-mage01.damage  { background: url("../img/faces/mage01.png") -192px 0 no-repeat; }
.face-mage01.attacking  { background: url("../img/faces/mage01.png") -192px -96px no-repeat; }




.face-mage02 {
	width: 96px;
	height: 96px;
}
.face-mage02.default { background: url("../img/faces/mage02.png") 0 0 no-repeat; }
.face-mage02.winning { background: url("../img/faces/mage02.png") -288px 0 no-repeat; }
.face-mage02.loosing { background: url("../img/faces/mage02.png") -192px -96px no-repeat; }
.face-mage02.damage  { background: url("../img/faces/mage02.png") -96px -96px no-repeat; }
.face-mage02.attacking  { background: url("../img/faces/mage02.png") -96px 0px no-repeat; }

.face-mage03 {
	width: 96px;
	height: 96px;
}
.face-mage03.default { background: url("../img/faces/mage03.png") 0 0 no-repeat; }
.face-mage03.winning { background: url("../img/faces/mage03.png") -288px 0 no-repeat; }
.face-mage03.loosing { background: url("../img/faces/mage03.png") -192px -96px no-repeat; }
.face-mage03.damage  { background: url("../img/faces/mage03.png") -96px -96px no-repeat; }
.face-mage03.attacking  { background: url("../img/faces/mage03.png") -96px 0px no-repeat; }

.face-mage04 {
	width: 96px;
	height: 96px;
}
.face-mage04.default { background: url("../img/faces/mage04.png") 0 0 no-repeat; }
.face-mage04.winning { background: url("../img/faces/mage04.png") -288px -96px no-repeat; }
.face-mage04.loosing { background: url("../img/faces/mage04.png") -288px 0 no-repeat; }
.face-mage04.damage  { background: url("../img/faces/mage04.png") -96px -96px no-repeat; }
.face-mage04.attacking  { background: url("../img/faces/mage04.png") -96px 0px no-repeat; }



.face-rabivador {
	width: 96px;
	height: 96px;
}
.face-rabivador.default { background: url("../img/faces/animal1.png") -288px -96px no-repeat; }

.face-crazyfrog {
	width: 96px;
	height: 96px;
}
.face-crazyfrog.default { background: url("../img/faces/animal2.png") -288px -96px no-repeat; }

.face-kevindiesel {
	width: 96px;
	height: 96px;
}
.face-kevindiesel.default { background: url("../img/faces/Evil.png") -288px 0 no-repeat; }

.face-thomagneto {
	width: 96px;
	height: 96px;
}
.face-thomagneto.default { background: url("../img/faces/Evil.png") 0 -96px no-repeat; }

.face-floracle {
	width: 96px;
	height: 96px;
}
.face-floracle.default { background: url("../img/faces/Evil.png") 0 0 no-repeat; }

.progress {
	position: relative;
}

.progress .value {
	position: absolute;
	text-align: center;
	width: 100%;
	font-weight: bold;
}